* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}


.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    margin: 25px;
}

#grid {
    height: 58px;
    width: 58px;
}

.hide {
    display: none;
}